* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin: 0%;
    padding: 0%;
}

.row {
    width: 100%;
    margin: 0px;
    padding: 0px;
    display: flex;
}

div a {
    color: white;
}

.title {
    background-color: teal;
    width: 100%;
    padding-bottom: 1%; 
}

h1 {
    padding-top: 5%;
    padding-left: 16.66%;
    padding-bottom: 3%
    text-align: left;
    font-weight: 70;
    color: white;
}

h4 {
    margin-left: 16.66%;
    padding-bottom: 0%;
    font-weight: 60;
    text-align: left;
    color: white;
}

.images {
    padding-top: 5%;
    margin-left: 16.66%;
    margin-right: 16.66%;
    display: flex;
}

.image1 {
    margin-left: 0%;
    padding: 8%;
    margin-right: 0%;
    width: 100%;
    height: auto;
}
.image2 {
    margin-left: 0%;
    padding: 8%;
    margin-right: 0%;
    width: 100%;
    height: auto;
}
.image3 {
    margin-left: 0%;
    margin-right: 0%;
    padding: 8%;
    width: 100%;
    height: auto;
}

.labels {
    margin-left: 16.66%;
    margin-right: 16.66%;
    width: 100%;
    display: flex;
}
.Time {
    width: 33.33%;
    background-color: teal;
    color: white;
    text-align: center;
    margin-left: 6%;
    margin-right: 6%;
    padding: 1%;
    border-radius: 5px;
}
.Reflection {
    width: 33.33%;
    background-color: teal;
    color: white;
    text-align: center;
    margin-left: 6%;
    margin-right: 6%;
    padding: 1%;
    border-radius: 5px;
}
.Technical {
    width: 33.33%;
    background-color: teal;
    color: white;
    text-align: center;
    margin-left: 6%;
    margin-right: 6%;
    padding: 1%;
    border-radius: 5px;
}

.images2 {
    padding-top: 5%;
    margin-left: 16.66%;
    margin-right: 16.66%;
    display: flex;
}
.image4 {
    margin-left: 0%;
    padding: 8%;
    margin-right: 0%;
    width: 100%;
    height: auto;
}
.image5 {
    margin-left: 0%;
    padding: 8%;
    margin-right: 0%;
    width: 100%;
    height: auto;
}
.image6 {
    margin-left: 0%;
    margin-right: 0%;
    padding: 8%;
    width: 100%;
    height: auto;
}

.labels2 {
    margin-left: 16.66%;
    margin-right: 16.66%;
    width: 100%;
    display: flex;
}
.EI {
    width: 33.33%;
    background-color: teal;
    color: white;
    text-align: center;
    margin-left: 4%;
    margin-right: 4%;
    padding: 1%;
    border-radius: 5px;
}
.Technical2 {
    width: 33.33%;
    background-color: teal;
    color: white;
    text-align: center;
    margin-left: 6%;
    margin-right: 6%;
    padding: 1%;
    border-radius: 5px;
}
.Technical3 {
    width: 33.33%;
    background-color: teal;
    color: white;
    text-align: center;
    margin-left: 6%;
    margin-right: 6%;
    padding: 1%;
    border-radius: 5px;
}

.images3 {
    padding-top: 5%;
    margin-left: 16.66%;
    margin-right: 16.66%;
    display: flex;
}
.image7 {
    margin-left: 0%;
    padding: 8%;
    margin-right: 0%;
    width: 100%;
    height: auto;
}
.image8 {
    margin-left: 0%;
    padding: 8%;
    margin-right: 0%;
    width: 100%;
    height: auto;
}
.image9 {
    margin-left: 0%;
    margin-right: 0%;
    padding: 8%;
    width: 100%;
    height: auto;
}

.labels3 {
    margin-left: 16.66%;
    margin-right: 16.66%;
    width: 100%;
    display: flex;
}
.Meditation {
    width: 33.33%;
    background-color: teal;
    color: white;
    text-align: center;
    margin-left: 6%;
    margin-right: 6%;
    padding: 1%;
    border-radius: 5px;
}
.Technical4 {
    width: 33.33%;
    background-color: teal;
    color: white;
    text-align: center;
    margin-left: 6%;
    margin-right: 6%;
    padding: 1%;
    border-radius: 5px;
}
.Dailymindfulness {
    width: 33.33%;
    background-color: teal;
    color: white;
    text-align: center;
    margin-left: 6%;
    margin-right: 6%;
    padding: 1%;
    border-radius: 5px;
}

.images4 {
    padding-top: 5%;
    margin-left: 16.66%;
    margin-right: 16.66%;
    display: flex;
}
.image10 {
    margin-left: 0%;
    padding: 8%;
    margin-right: 0%;
    width: 100%;
    height: auto;
}
.image11 {
    margin-left: 0%;
    padding: 8%;
    margin-right: 0%;
    width: 100%;
    height: auto;
}
.image12 {
    margin-left: 0%;
    margin-right: 0%;
    padding: 8%;
    width: 100%;
    height: auto;
}

.labels4 {
    margin-left: 16.66%;
    margin-right: 16.66%;
    width: 100%;
    display: flex;
}
.Selfconfidence {
    width: 33.33%;
    background-color: teal;
    color: white;
    text-align: center;
    margin-left: 6%;
    margin-right: 6%;
    padding: 1%;
    border-radius: 5px;
}
.Technical5 {
    width: 33.33%;
    background-color: teal;
    color: white;
    text-align: center;
    margin-left: 6%;
    margin-right: 6%;
    padding: 1%;
    border-radius: 5px;
}
.XX {
    width: 33.33%;
    background-color: teal;
    color: white;
    text-align: center;
    margin-left: 6%;
    margin-right: 6%;
    padding: 1%;
    border-radius: 5px;
}

.footer {
    margin-top: 7%;
    background-color: teal;
    width: 100%; 
    padding-bottom: 2%;
}
.indent {
    padding-left: 16.66%;
    padding-top: 1%;
    color: white;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}