* {
    border: 1px solid red !important;
    font-family: 'Montserrat', sans-serif;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin: 0%;
    padding: 0%;
}

.row {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
}

.title {
    background-color: teal;
    width: 100%; 
}

h1 {
    padding-top: 5%;
    padding-left: 16.66%;
    padding-bottom: 3%
    text-align: left;
    font-weight: 70;
    color: white;
}

h4 {
    margin-left: 16.66%;
    padding-bottom: 0%;
    font-weight: 60;
    text-align: left;
    color: white;
}

.images {
    padding-top: 7%;
    margin-left: 16.66%;
    margin-right: 16.66%;
    display: flex;
}

.image1 {
    margin-left: 0%;
    padding: 8%;
    margin-right: 0%;
    width: 100%;
    height: auto;
}
.image2 {
    margin-left: 0%;
    padding: 8%;
    margin-right: 0%;
    width: 100%;
    height: auto;
}
.image3 {
    margin-left: 0%;
    margin-right: 0%;
    padding: 8%;
    width: 100%;
    height: auto;
}

.labels {
    padding-top: 10px;
    margin-left: 16.66%;
    display: flex;
    text-align: center
}
.Time {
    width: 16.66%;
    background-color: teal;
    color: white;
}
.Reflection {
    width: 16.66%;
    background-color: teal;
    color: white;
}
.Technical {
    width: 16.66%;
    background-color: teal;
    color: white;
}
.labels2 {
    padding-top: 10px;
    padding-left: 13%;
    padding-right: 10%;
    margin-bottom: 8%;
    display: flex;
}
.EI {
    background-color: teal;
    color: white;
    padding: 6px;
    margin-left: 12%;
    margin-right: 15%;
}
.Technical2 {
    background-color: teal;
    color: white;
    padding: 6px;
}

a {
    background-color: teal;
    color: white;
    padding: 3px;
}

.images2 {
    padding-top: 2%;
    padding-left: 10%;
    padding-right: 10%;
    display: flex; 
}

.image5 {
    padding-left: 4%;
    padding-right: 4%
}


.footer {
    background-color: teal;
    width: 100%; 
    padding-bottom: 2%;
}
.indent {
    padding-left: 10%;
    padding-top: 1%;
    color: white;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}